@(
	applicationUser: models.tables.pojos.ApplicationUser,
	viewMode: String,
	profil: String,
    profilList : List[String],
	userProfilList : List[String]
)


@quote(s: String) = @{
    "" + s + ""
}
@isDisabled(fieldName: String) = @{
    fieldName match {
        case "applicationUser" => if(null == applicationUser.getId)
            "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")
        case _ => if((viewMode != "VIEW") && (viewMode != "DELETE"))
            "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")

    }
}

@import views.html.utils._
@import helper._
@main(if(viewMode == "CREATE") "Nouveau utilisateur" else if(viewMode == "VIEW") "Consultation utilisateur" else if(viewMode == "EDIT") "Edition utilisateur" else if(viewMode == "DELETE") "Suppression utilisateur" else "") {

<div class="container">

	<div class="panel panel-default">
		<label class="label label-info" style="float: right;"></label>
		@if(viewMode == "CREATE"){
		<div class="badged-title">Inscription</div>

		}else if(viewMode == "EDIT"){
		<div class="badged-title">Edition</div>

		}else if(viewMode == "VIEW"){
		<div class="badged-title">Détails du compte</div>

		}
	    @form(routes.ApplicationUserCtrl.save()){
		@helper.CSRF.formField
		 <input type="hidden" name="viewMode" value="@viewMode">
		 <input type="hidden" name="id" value="@applicationUser.getId">
	    <div class="prog_cat">
	    	<br />
			<div class="row">
				<div id="nameUser" class="col-md-6">
					<span class="glyphicon glyphicon-asterisk asterix"></span><label class="control-label" for="">Nom :  </label>
					<input placeholder="votre nom" id="name" name="nom" @isDisabled("nom") class="form-control"  value="@applicationUser.getNom()" autocomplete="off" type="text" required="required">
				</div> 
			</div>
			<div class="row">
				<div id="" class="col-md-6">
					<span class="glyphicon glyphicon-asterisk asterix"></span><label class="control-label" for="">Prénom:  </label>
					<input id="prenom" placeholder="votre prénom" name="prenom" @isDisabled("prenom") class="form-control"  value="@applicationUser.getNom()" autocomplete="off" type="text" required="required">
				</div>
			</div>
			<div class="row">
				<div id="emailUser" class="col-md-6">
					<span class="glyphicon glyphicon-asterisk asterix"></span><label class="control-label" for="">Adresse email:  </label>
					<input id="email" placeholder="adresse email: exemple@@gmail.com" name="email" @isDisabled("email") @isDisabled("password") @if(viewMode == "EDIT"){readonly="readonly"} class="form-control"  value="@applicationUser.getEmail()" autocomplete="off" type="email" required="required">
				</div> 
			</div>
			<div class="row">
				<div id="" class="col-md-6">
					<span class="glyphicon glyphicon-asterisk asterix"></span><label class="control-label" for="">Mot de passe:  </label>
					<input id="password" placeholder="mot de passer" name="password" @isDisabled("password") class="form-control" value="@applicationUser.getPassword()" autocomplete="off" type="password" required="required">
				</div> 
			</div>
			<div class="row">
				<div id="" class="col-md-6">
					<span class="glyphicon glyphicon-asterisk asterix"></span><label class="control-label" for="">Ville/Localité:  </label>
					<input  placeholder="Votre ville" name="ville" @isDisabled("ville") class="form-control" value="@applicationUser.getVille()" autocomplete="off" type="text" required="required">
				</div>
			</div>
			<div class="row">
				<div id="" class="col-md-6">
					<label class="control-label" for="">Pays:  </label>
					<input id="" placeholder="Votre natif" name="pays" @isDisabled("pays") class="form-control" value="@applicationUser.getPays()" autocomplete="off" type="text">
				</div>
			</div>
			<div class="row">
				<div id="" class="col-md-6">
					<span class="glyphicon glyphicon-asterisk asterix"></span><label class="control-label" for="">Téléphone:  </label>
					<input type="tel" placeholder="numéro de téléphone" name="tel" @isDisabled("tel") class="form-control" value="@applicationUser.getTel()" autocomplete="off"  required="required">
				</div>
			</div>
			<br>
			<div class="row">
				<div id="" class="col-md-6">
					<span class="glyphicon glyphicon-asterisk asterix"></span><label class="control-label" for="">Profil Utilisateur:  </label>
					<div class="multiselect">
						@for(userProfil <- profilList){
							@if(null != applicationUser.getMetaData && userProfilList.contains(userProfil)){
								<p><input type="checkbox" name="profilUser" value="@userProfil" class="@userProfil" checked="checked"/> @userProfil</p>
							}else{
								<p><input type="checkbox" name="profilUser" value="@userProfil" class="@userProfil" /> @userProfil</p>
							}
						}
					</div>
				</div> 
			</div>
			<br>
			<div class="form-inline">
				<div id="" class="form-group">
					<label class="control-label" for="">IS Actif</label>
					<input id="isActive" name="isActive" class="boolean-checkbox" style="width: 40px;" value="" @isDisabled("isActive") @if(viewMode != "CREATE" && applicationUser.getIsActive()) {checked="checked" } type="checkbox">
				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="form-group">
					@if(viewMode == "CREATE") {
					<button type="submit" class="btn btn-primary text-right" data-rel="tooltip" title="Valider(Enregistrer les informations)">
						Valider
						<i class="fa fa-ok"></i></button>
					}
					@if(viewMode == "EDIT") {
					<button type="submit" class="btn btn-primary text-right" data-rel="tooltip" title="Valider(Modifier les informations)">
						Modifier
						<i class="fa fa-ok"></i></button>
					}
				</div>
			</div>
		</div>
			<br/>
                            <table class="table table-bordered table-condensed">
                                <tbody>
                                	@if(viewMode == "DELETE") {
                                     <tr>
                                            <td colspan="2">
                                                <div id="feedBackArea" style="margin-bottom: 6px !important;" class="alert alert-danger">
                                                    <b>Attention :</b>
                                                    la suppression de cet utilisateur supprimera les enregistrements suivants:
                                                </div>
                                                    <b>-></b>
                                                    le(s) projet(s) engagement(s) qu'il a saisi ou validé
                                                     <br>
                                                     <b>-></b>
                                                    le(s) projet(s) liquidation(s) qu'il a saisi ou validé
                                                     <br>
                                                     <b>-></b>
                                                    le(s) mandat(s) qu'il a saisi ou validé
                                                     <br>
                                                    
                                            </td>
                                        </tr>
                                     }
                                    <tr>
                                        <td>
                                            @if(viewMode == "CREATE") {
                                                <a href="@routes.ApplicationUserCtrl.list(0, "")" class="btn btn-success" data-rel="tooltip" title="liste des utilisateurs">
                                                   Retour<i class="fa fa-arrow-left"></i></a>
                                            }
                                            @if(viewMode == "EDIT" || viewMode == "DELETE") {
                                                <a href="@routes.ApplicationUserCtrl.list(0, "")" class="btn btn-warning" data-rel="tooltip" title="Abandonner la modification en cours">
                                                    Abandonner<i class="fa fa-arrow-left"></i></a>
                                            }
                                        </td>
                                        <td class="text-right">
                                            
                                            @if(viewMode == "EDIT") {
                                                <a href="@routes.ApplicationUserCtrl.delete(applicationUser.getId())" class="btn btn-danger text-right" data-rel="tooltip" title="Confirmer la suppresion">
                                                    Supprimer
                                                    <i class="fa fa-ok"></i>
                                                </a>

                                            }

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                  }
	    
   </div>
</div>


}

<script>
function ckChange(ckType){
    var ckName = document.getElementsByName(ckType.name);
    var checked = document.getElementById(ckType.id);

    if (checked.checked) {
      for(var i=0; i < ckName.length; i++){

          if(!ckName[i].checked){
              ckName[i].disabled = true;
          }else{
              ckName[i].disabled = false;
          }
      }
    }
    else {
      for(var i=0; i < ckName.length; i++){
        ckName[i].disabled = false;
      }
    }
}
</script>

