@(utilisateurs:commons.Pagination[models.tables.pojos.ApplicationUser], currentFilter : String, profil : String)


@link(newPage:Int) = @{
		    // Generate the link
		    controllers.routes.ApplicationUserCtrl.list(newPage,currentFilter)
		}
@main("Application User") {
<div style="margin-right: -80px;margin-left: 24px;">
	<div class="container">
        <div class="row">
    <label class="label label-info" style="float:right;">@profil</label>
	<div class="badged-title">Liste des Utilisateurs</div>
			<br>
    <!-- @@svNavTabsAdmin("USERS")-->
     <div class="panel-body">
		 <div class="tab-content">
			<div class="tab-pane fade in active" id="#tabUser">
                <form action="@link(0)" method="GET">
                   <div class="form-inline">
	                     <a href="@routes.ApplicationUserCtrl.show("CREATE", 0L)" class="btn btn-info" data-rel="tooltip" title="Créer">
	                           <i class="fa fa-plus"></i>
	                      </a>
	                   <input id="searchbox" class="form-control" autofocus="" name="filter" value="" placeholder="nom utilisateur et email" style="width: 30%;" type="text">
	                   <button type="submit" class="btn btn-info " data-rel="tooltip" title="Rechercher/rafraichir">
	                                 <i class="fa fa-search"></i>
	                   </button>
	                  
                   </div>
                </form>

                <div class="row">
  			             <div class="panel panel-default">
  			                <table class="table table-bordered table-striped table-condensed">
    			          <thead>
						  	<tr class="breadcrumb">
	    				  		<th  style="text-align: center"><small>Nom</small></th>
								<th  style="text-align: center"><small>Prénom</small></th>
	    				   		<th  style="text-align: center">Email</th>
	    				   		<th  style="text-align: center">IS_Active</th>
	    				  		<th  style="text-align: center">Profil</th>
	    				  		<th  style="text-align: center">Modifier</th>

    				         </tr>
    			         </thead>
				         <tbody>    			
    			      @for(utilisateur <- utilisateurs.getList){
						 <tr>
	    					<td width="15%">@utilisateur.getNom</td>
							 <td width="15%">@utilisateur.getPrenom</td>
	    					<td width="15%">@utilisateur.getEmail</td>
	    					<td width="5%">@utilisateur.getIsActive</td>
	    					<td width="5%">@utilisateur.getIsAdmin</td>
	    					<td width="32%">@if(null != utilisateur.getMetaData && utilisateur.getMetaData.equals("admin")){admin}else{@utilisateur.getMetaData}</td>
	    					<td style="text-align: center" width="6%">
	    						<a id="btnReadWrite" class="btn btn-success" data-rel="tooltip" title="Modifier" href="@routes.ApplicationUserCtrl.show("EDIT",utilisateur.getId)" type="button">
				                                           <i class="fa fa-edit"></i></a> 
				             </td>

              			</tr>
    					}
    					
    				
   				</tbody>
  			</table>
  		</div>
                </div>
			            <ul class="pagination">
			                @if(utilisateurs.hasPrev) {
			                    <li class="prev">
			                    <a href="@link(utilisateurs.getPageIndex -1)">&larr; Precedent</a>
			                    </li>
			                } else {
			                    <li class="prev disabled">
			                        <a>&larr; Precedent</a>
			                    </li>
			                }
			                <li class="current">
			                    <a>utilisateurs @utilisateurs.getDisplayXtoYofZ</a>  
			                </li>
			                @if(utilisateurs.hasNext()) {
			                    <li class="next">
			                    <a href="@link(utilisateurs.getPageIndex+1)"> Suivant &rarr;</a>
			                    </li>
			                } else {
			                    <li class="next disabled">
			                        <a>Suivant &rarr;</a>
			                    </li>
			                }
			            </ul>
			    </div>
				</div>
			</div>

</div>
</div>
</div>
}
