@(profil: String)
@import helper._
@main("Changement de mot passe"){
<div style="margin-right: -80px;margin-left: 24px;">
<div class="container">
	<div class="row">
		<label class="label label-info" style="float:right;">@profil</label>
		<br>
		 <h5>
			 <div class="badged-title">Changer votre mot de passe</div>
			 <br>
	    </h5>
	    @form(routes.ApplicationUserCtrl.changePassword()){
		@helper.CSRF.formField
	    <div class="dataform">
	    	<br />
			<div class="form-inline">
				<div id="nameUser" class="form-group">
					<label class="control-label" for="">Ancien mot de passe:  </label>
					<input id="name" name="password"  class="form-control" style="width: 90%;" value="" autocomplete="off" type="password" required="required">
				</div> 
			</div>
			<div class="form-inline">
				<div id="emailUser" class="form-group">
					<label class="control-label" for="">Nouveau mot de passe:  </label>
					<input id="nouveauPassword" name="nouveauPassword" class="form-control" style="width: 90%;" value="" autocomplete="off" type="password" required="required">
				</div> 
			</div>
			<div class="form-inline">
				<div id="passwordUser" class="form-group">
					<label class="control-label" for="">Confirmer mot de passe:  </label>
					<input id="confirmePassword" name="confirmePassword" class="form-control" style="width: 90%;" value="" autocomplete="off" type="password" required="required">
				</div> 
			</div>
			<br />
			<div class="form-inline">
				<div class="form-group" style="text-align: right;">
                   	 	<button type="submit" class="btn btn-primary text-right" data-rel="tooltip" title="Valider(Enregistrer les informations)">
                     	Changer votre mot de passe
            			<i class="fa fa-ok"></i></button>
				</div>
			</div>	
		</div>
			
      }
	    
   </div>
</div>
</div>

}