@()

@main("E-Griot") {
<div class="col-md-12">
    <div class="jumbotron">
  <h3 class="text-center">Investir dans l'automisation des femmes</h3>
     <p class="lead">
          <div id="carousel-home" class="owl-carousel text-white hidden-sm owl-theme" style="opacity: 1; display: block;">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                      <div class="item active">
                          <img src='@routes.Assets.versioned("images/image1.jpg")' alt="aucune image">
                      </div>

                      <div class="item">
                          <img src='@routes.Assets.versioned("images/image2.jpg")' alt="aucune image">
                      </div>

                      <div class="item">
                          <img src='@routes.Assets.versioned("images/image3.jpg")' alt="New York">
                      </div>

                      <div class="item">
                          <img src='@routes.Assets.versioned("images/image4.jpg")' alt="New York">
                      </div>

                      <div class="item">
                          <img src='@routes.Assets.versioned("images/image5.jpg")' alt="New York">
                      </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
          </div>
    </p>
        <hr class="my-4">
        <p class="lead">
            les plateformes de crowdfunding sont spécialisées dans le financement alternatif. Grâce à elles, les entrepreneurs ou créatifs soumettent leur projet à une communauté d'internautes dans le cadre d'une campagne de collecte de fonds. Les plateformes de crowdfunding fonctionnent comme des intermédiaires entre porteurs de projets et investisseurs particuliers. Chacun est libre d'apporter sa contribution dans le projet de son choix, à la hauteur de ses moyens. C'est l'association d'un grand nombre d'investisseurs qui permet au porteur de projet de financer son activité, selon le préceptes "les petits ruisseaux font les grandes rivières".
        </p>
    </div>
    </div>


}
