@(
    projetAttente : models.tables.pojos.ProjetAtttente,
    viewMode : String,
    typeProjet: Map[String, String],
    typeFinancement: Map[String, String]
)

@quote(s: String) = @{
"" + s + ""
}

@isDisabled(fieldName: String) = @{
    fieldName match {
    case "projetAttente" => if(null == projetAttente.getId)
    "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")
    case _ => if((viewMode != "VIEW") && (viewMode != "DELETE"))
    "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")

    }
}

@import helper._
@main(if(viewMode == "CREATE") "Nouveau projet" else if(viewMode == "VIEW") "Consultation projet" else if(viewMode == "EDIT") "Edition projet" else if(viewMode == "DELETE") "Suppression projet" else "") {

<br><br>
<div class="panel panel-default">
    <label class="label label-info" style="float: right;"></label>

    @if(viewMode == "CREATE"){
    <div class="badged-title">Soumission d'un nouveau projet</div>

    }else if(viewMode == "EDIT"){
    <div class="badged-title">Edition d'un projet</div>

    }else if(viewMode == "VIEW"){
    <div class="badged-title">Détails projets</div>

    }
    <form id="projetForm" action="@routes.ProjetAttenteCtrl.saveOrUpdate()" class=" " method="post" eenctype="multipart/form-data">
        @CSRF.formField
        <input type="hidden" class="form-control" name="id" value="@projetAttente.getId()"/>
        <input type="hidden" class="form-control" name="viewMode" value="@viewMode">
        <div class="panel-body">
            <!--premiere ligne-->
                    <div class="prog_cat">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-asterisk asterix"></span>&nbsp;<label class="control-label">Intitulé du projet</label>
                                <input type="text" class="form-control" name="nom" value="@projetAttente.getNom"  required="required" autocomplete="off" placeholder="intitule de votre projet"@isDisabled("intitutle") />
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-asterisk asterix"></span>&nbsp;<label class="control-label">Type du projet</label>
                                <select class="form-control" name="typeProjet"  required="required" @isDisabled("typeProjet")>
                                    <option value="">-- Choisir type projet --</option>
                                    @for((key,value) <- typeProjet){
                                        @if(projetAttente.getTypeProjet != null && projetAttente.getTypeProjet.equals(key)){
                                            <option value="@key" selected="selected">@value</option>
                                        }else{
                                            <option value="@key">@value</option>
                                        }
                                    }

                                </select>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                    <span class="glyphicon glyphicon-asterisk asterix"></span>&nbsp;<label class="control-label">Secteur activité</label>
                                <select class="form-control" name="secteurActivite"  required="required"  @isDisabled("secteurActivite")>
                                    <option value="">-- Choisir un secteur activité --</option>
                                    @for((key,value) <- typeFinancement){
                                        @if(projetAttente.getSecteurActivite != null && projetAttente.getSecteurActivite.equals(key)){
                                            <option value="@key" selected="selected">@value</option>
                                        }else{
                                            <option value="@key">@value</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-asterisk asterix"></span>&nbsp;<label class="control-label">Description du projet</label>
                                <textarea rows="6" type="text" maxlength="500" class="form-control" name="description"  required="required"  placeholder="texte de description ne doit pas depasser 500 mots" @isDisabled("description")> @projetAttente.getDescription</textarea>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-asterisk asterix"></span>&nbsp;<label class="control-label">Montant total (FCFA)</label>
                                <input type="" class="form-control autonumeric" name="montant"  required="required" placeholder="montant total du projet" value="@projetAttente.getMontant" autocomplete="off" @isDisabled("montant")/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-asterisk asterix"></span>&nbsp;<label class="control-label">Document à fournir</label>
                                @if(viewMode == "CREATE" || viewMode == "EDIT"){
                                    <input type="file" class="form-control" name="documentFournit"  required="required" placeholder="type de financement" value="@projetAttente.getDocumentFournit"  @isDisabled("documentFournit") />
                                }else{
                                    <input type="text" class="form-control"   required="required" placeholder="type de financement" value="@projetAttente.getDocumentFournit"  @isDisabled("documentFournit") />
                                }
                            </div>
                        </div>
                        <br>

                    </div>


            <br />
            <!--8eme ligne-->
            <div class="form-group text-center">
                <a  class="btn btn-default" href="/"><i class="fa fa-arrow-left"></i> Retour</a>&nbsp;
                @if(viewMode == "CREATE"){
                    <button type="submit" class="btn btn-primary" id="saveButton">Enregistrer <i class="fa fa-check"></i></button>
                }
                @if(viewMode == "EDIT"){
                <button type="submit" class="btn btn-primary" id="editButton">Modifier <i class="fa fa-check"></i></button>
                }
            </div>
        </div>
        </div>
    </form>

</div>
</div>


}

<script>
$(function(){

       /*--montantavec separateur de millier--------------------*/
    	$('.separateur-millier').on('change',function(){
    						console.log('Change event.');
    						var val = $('.separateur-millier').val();

    	});

        $('.separateur-millier').change(function(){
    		console.log('Second change event...');
    	});

    	$('.separateur-millier').number( true, 0, ',', ' ' );


});
</script>
