@(projetAttenteList: List[models.tables.pojos.VProjetAttente])
@import controllers.util.Helpers.getCurrentUser
@import controllers.util.Helpers.isCurrentUserInvestissement

@import views.html.utils._
@main("Investir"){
    <h3 class="text-center">Les projets encours de financement</h3>
    @for(projet <- projetAttenteList){

    <div class="col-md-3">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src='@routes.Assets.versioned("images/image-projet.jpg")' alt="">
                <div class="card-body">
                    <h5 class="card-title"><b>Secteur d'activité:</b> @projet.getIntituleSecteurActivite</h5>
                    <p class="card-text"><b>Intitulé du projet:</b> @projet.getNom()</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <span class="text-danger">Côut du projet: @formatMontant(projet.getMontantProjet) FCFA</span><br>
                            <span class="text-primary"><font size="2"><b>Montant encaissé:</b></font> @formatMontant(projet.getMontantEncaisse) FCFA</span><br>
                            <a href="@routes.ProjetAttenteCtrl.show("VIEW",projet.getId)" class="btn btn-primary btn-sm">Voir +</a>
                            @if(isCurrentUserInvestissement){
                                <button data-toggle="modal" data-target="#myModal" class="btn btn-success btn-sm">Financer maintenant</button>
                            }
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <form class="cmxform form-horizontal tasi-form" method="POST" action="@routes.ProjetAttenteCtrl.investir()" accept-charset="UTF-8">
        @helper.CSRF.formField
        <input type="hidden" name="projetId" value="@projet.getId" va />
        <input type="hidden" name="investisseur" value="@getCurrentUser().getId" />
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <h4 class="center-left">Entrer votre contribution</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Montant: </label>
                                <input type=""  name="montant" class="form-control autonumeric" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button id="button" class="btn btn-primary"> Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    }



}